@charset "UTF-8";
.productContainer{
	display: flex;
	flex-direction: row;
	padding: 5%;
}
/* product image left side */
.productImage{
	width: 800px;
	height: 700px;
	object-fit: contain;
	margin-top: 3%;
}

/* product container right side */

/* show all products css starts here */
.coverImage{
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 3%;
	padding: 2%;
}
.firstDress{
	width: 600px;
	height: 400px;
	object-fit: cover;
	margin: 1%;
}
.secondDress{
	width: 300px;
	height: 400px;
	object-fit: cover;
	margin: 1%;
}
.dressesContainer{
	display: flex;
	flex-direction: row;
	padding: 3%;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	gap:  5%;
	
}
.allDresses{
	width: 350px;
	height: 500px;
	object-fit:cover;
	margin-top: 4%;
}

/* .textDisplay{
	
	border: red 2px solid;
	width: 300px;
	height: fit-content;
	
} */

.dressname{
	font-family: arvo;
}


/* in all css layouts and views */
.commercial {
	display: flex;
	justify-content: space-around; width : 100%;
	height: 24px;
	background-color: black;
	color: white;
	text-align: center;
	width: 100%;
}

.image {
	width: 80%;
}

#search {
	width: 50rem;
	height: 50px;
}

.search {
	display: flex;
	justify-content: center;
	font-family: arvo;
	margin-bottom: 3%;
}

/* logo  */
.logoContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo {
	width: 200px;
	height: 200px;
	object-fit: contain;
}

.button {
	width: 150px;
	height: 30px;
	font-family: arvo;
	color: white;
	background-color: black;
	margin-top: 20px;
}
/* add to bag button */
.button2{
	width: 20rem;
	height: 35px;
	font-family: arvo;
	color: white;
	background-color: black;
	margin-top: 20px;
}

.center, .image {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* drop down menu starts here */
.dropdown {
	display: inline-block;
	word-spacing: 50px;
}

.dropdown-content {
	display: none;
	position: absolute;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	padding: 12px 16px;
	z-index: 1;
	min-width: 160px;
}

.dropdown li a {
	color: black;
}

ul li {
	list-style: none;
	margin: 0 auto;
	display: inline-block;
	padding: 0 30px;
	position: relative;
	text-decoration: none;
	text-align: center;
	font-family: arvo;
	color: black;
}

li a:hover {
	color: black;
}

li:hover {
	cursor: pointer;
}

ul li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	padding-left: 0;
	left: 0;
	display: none;
	background: white;
}

ul li:hover>ul, ul li ul:hover {
	visibility: visible;
	opacity: 1;
	display: block;
	min-width: 250px;
	text-align: left;
	padding-top: 20px;
	box-shadow: 0px 3px 5px -1px #ccc;
}

ul li ul li {
	clear: both;
	width: 100%;
	text-align: left;
	margin-bottom: 20px;
	border-style: none;
}

ul li ul li a:hover {
	padding-left: 10px;
	border-left: 2px solid gold;
	transition: all 0.3s ease;
}

a {
	text-decoration: none;
}

ul li ul li a {
	transition: all 0.5s ease;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* <!--footer--> */
.footer {
	margin-top: 20px;
	width: 100%;
	position: relative;
	height: auto;
	background-color: #070617;
}

.footer .col {
	width: 190px;
	height: auto;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0px 20px 20px 20px;
}

.footer .col h1 {
	text-align: center;
	margin: 0;
	padding: 0;
	font-family: arvo;
	font-size: 12px;
	line-height: 17px;
	padding: 20px 0px 5px 0px;
	color: rgba(255, 255, 255, 0.2);
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.250em;
}

.footer .col ul {
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer li a {
	color: #999999;
}

.footer .col ul li {
	display: block;
	color: #999999;
	font-size: 14px;
	font-family: arvo;
	font-weight: bold;
	padding: 5px 0px 5px 0px;
	cursor: pointer;
	transition: .2s;
	-webkit-transition: .2s;
	-moz-transition: .2s;
}

.social ul li {
	display: inline-block;
	padding-right: 5px !important;
}

.footer .col ul li:hover {
	color: #ffffff;
	transition: .1s;
	-webkit-transition: .1s;
	-moz-transition: .1s;
}

.clearfix {
	clear: both;
}

@media only screen and (min-width: 1280px) {
	.contain {
		width: 1200px;
		margin: 0 auto;
	}
}

@media only screen and (max-width: 1139px) {
	.contain .social {
		width: 1000px;
		display: block;
	}
	.social h1 {
		margin: 0px;
	}
}

@media only screen and (max-width: 950px) {
	.footer .col {
		width: 33%;
	}
	.footer .col h1 {
		font-size: 14px;
	}
	.footer .col ul li {
		font-size: 13px;
	}
}

@media only screen and (max-width: 500px) {
	.footer .col {
		width: 50%;
	}
	.footer .col h1 {
		font-size: 14px;
	}
	.footer .col ul li {
		font-size: 13px;
	}
}

@media only screen and (max-width: 340px) {
	.footer .col {
		width: 100%;
	}
}